{% extends 'base.html.twig' %}

{% block body %}
    <div id="page">
        Créer un vote : 
		{{ form_start(form_poll) }}
		{{ form_widget(form_poll) }}
		{{ form_end(form_poll) }}
    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
