{% extends 'base.html.twig' %}

{% block body %}
    <div id="page">
        Créer un vote : 
        {{ form_start(form_poll) }}
        {{ form_widget(form_poll) }}
        {{ form_end(form_poll) }}
    </div>
{% endblock %}


{% block javascripts %}
<script>
var $collectionHolder;

// setup an "add a tag" link
var $optionAddLink      = $('<a href="#" class="option_add_link">Add an option</a>');
var $optionRemLink      = $('<a href="#" class="option_rem_link">Delete</a>');
var $participantAddLink = $('<a href="#" class="participant_add_link">Add a participant</a>');
var $participantRemLink = $('<a href="#" class="participant_rem_link">Delete</a>');

$(document).ready(function() {
    $options = $('#poll_options');
    $options.append($optionAddLink);
    $options.data('index', $options.children('div').length);

    $optionAddLink.on('click', function(e) {
        e.preventDefault();
        var prototype = $options.data('prototype');
        var index = $options.data('index');
        var newForm = prototype.replace(/__name__label__/g, index).replace(/__name__/g, index);
        $options.data('index', index + 1);
        $optionAddLink.before(newForm);
    });
	
    $participants = $('#poll_participants');
    $participants.append($participantAddLink);
    $participants.data('index', $participants.children('div').length);
	
    $participantAddLink.on('click', function(e) {
        e.preventDefault();
        var prototype = $participants.data('prototype');
        var index = $participants.data('index');
        var newForm = prototype.replace(/__name__label__/g, index).replace(/__name__/g, index);
        $participants.data('index', index + 1);
        $participantAddLink.before(newForm);
    });
});
</script>
{% endblock %}
        
{% block stylesheets %}
<style>
</style>
{% endblock %}
