{% extends 'base.html.twig' %}

{% block body %}
    <div id="admin">
		<div id="form_admin">
			{{ form_start(form_admin) }}
			{{ form_widget(form_admin) }}
			{{ form_end(form_admin) }}
		</div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
