{% extends 'base.html.twig' %}

{% block body %}
    <div id="vote">
		<div id="form_choices">
			{{ form_start(form_choices) }}
			{{ form_widget(form_choices) }}
			{{ form_end(form_choices) }}
		</div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
