{% extends 'base.html.twig' %}

{% block body %}
    <div id="result">
		RESULT
		Meilleur choix : 
		Choix du nombre : 
    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
